*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html,.wrap{
    width: 100%;
    height: 100%;
    background: #e8e8e8;
}
.header{
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.tou{
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.tou p{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    color: #666666;
    font-weight: bold;
}
.tou p i{
    float: left;
    margin-left: 10px;
}
.main{
    width: 100%;
    height: 500px;
    margin-top: 15px;
    background: #fff;
}
.nav{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
}
.nav p{
    width: 85px;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
    background: #e8e8e8;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10px;
}
.nav p i{
    font-size: 50px;
    color: #d0d0d0;
}
.nav h4{
    width: 65%;
    height: 100%;
    line-height: 80px;
    float: left;
    margin-left: 10px;
    color: #333333;
}
.ul{
    width: 100%;
    height: auto;
}
.ul li{
    width: 100%;
    height: 80px;
}
.ul li p{
    float: left;
}
.ul li .yi{
    width: 60px;
    height: 100%;
    text-align: center;
    line-height: 80px;
}
.ul li .yi i{
    font-size: 25px;
    color: #eebc61;
}
.ul li .er{
    width: 84%;
    height: 100%;
    text-align: left;
    line-height: 80px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    color: #676767;
}
.ul li .er i{
    float: right;
    margin-right: 10px;
    font-size: 25px;
    color: #c7c7cb;
}
.xin{
    color: red;
}
.footer{
    width: 100%;
    height: 50px;
    background: #fff;
    margin-top: 15px;
}